.App {
    height: 100%;
  }
  .logo {
    width: 240px;
    height: 31px;
    float: left;
    text-align: center;
    color: azure;
  }
  .logo-text {
    width: 240px;
    height: 31px;
    float: left;
    text-align: center;
    color: azure;
    font-size: 20px;
  }
  .user-info {
    width: 120px;
    height: 31px;
    float: right;
    text-align: right;
    color: azure;
  }
  .search-input {
    width: 240px;
    height: 31px;
    float: right;
    text-align: center;
    color: azure;
    margin-left: 50px;
  }
  